html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:#7a1501;
}
header{
    background-color:white;
    width:100%;
    text-align:center;
}
header > img{
    max-width:100%;
    height:auto;
}

nav{
    display:flex;
    height:10%;
    width:100%;
    justify-content:center;
}
nav > div{
    display:flex;
    justify-content:space-around;
    padding:1%;
}
nav > div:hover{
    cursor:pointer;
    background-color:#f9da0c;
}
#signup{
    background-color:#f9da0c;
}




#fluff{
    width:99%;
    display:flex;
    justify-content:center;
    color:white;
    margin:1%;
    font-size:2em;
}
#word{
    width:99%;
    display:flex;
    justify-content:center;
    color:white;
    margin:1%;
    font-size:2em;
}
divi{
    display:flex;
    margin:1%;
    justify-content:center;
}
#divider{
    width:60%;
    height:5%;
    border-bottom:white solid 1px;
}
footer{
    display:inline-flex;
    width:60%;
    margin:3%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-self:center;
    justify-content:center;
}
footer > span{
    width:calc(100%/3);
    height:10%;
    text-align:center;
    color:white;
}
footer > span:hover{
    cursor:pointer;
}
#sign{
    border-left:1px solid white;
    border-right:1px solid white;
}